@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

#logo1 {
  width: 100px;
}

#logo {
  transition: 0.2s all ease-out;
  width: 300px;
  height: 90px;
}

#logo:hover {
  transform: scale(1.1);
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

header nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header nav ul li a {
  transition: 0.2s all ease-out;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  position: relative;
  letter-spacing: 0.7px;
}

header nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #047982;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

header nav ul li a:hover:after {
  width: 100%;
}

#loginBtn {
  transition: 0.1s all ease-in-out;
  cursor: pointer;
  padding: 15px 50px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background: #047982;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#loginBtn:active {
  transform: scale(90%);
}

.modalSearch {
  position: fixed;
  top: 6.2rem;
  left: 0.2rem;

  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#searchInp {
  border-radius: 5px;
  padding: 15px 50px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#searchInp::placeholder {
  color: #047982;
}

#searchInp:focus {
  outline-style: auto;
  outline-color: #047982;
}

#searchBtn {
  padding: 16px 30px;
  border-radius: 3px 8px 8px 3px;
  font-size: 1rem;
  background: #047982;
  border: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

#barsMain {
  display: none;
}

.rowFirst {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBar {
  display: none;
  background: #000;
}

#loginLi {
  display: none;
}

.carusel_section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.carousel {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 1500px;
  height: 500px;
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.carousel-content {
  width: 70%;
  position: relative;
  color: white;
  z-index: 1;
  padding: 20px;
  max-width: 80%;
  background: transparent;
  border-radius: 15px;
  transform: translateY(10px);
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: #047a8282;
}

.carousel-content:hover {
  transform: translateY(0);
  background-color: #047a82dc;
}

.carousel-title {
  font-size: 2.5rem;
  margin: 0 0 10px 0;
  font-weight: bold;
  transition: color 0.3s ease;
}

.carousel-description {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

.carousel-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: red;
}

.carousel-discount {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
  transition: background 0.3s ease;
}

.carousel button:hover {
  background: #047982;
}

.prev-btn {
  left: 20px;
  border-radius: 3px;
  background-color: #047982;
}

.next-btn {
  background-color: #047982;
  right: 20px;
  border-radius: 3px;
}

@media (max-width: 1650px) {
  header nav {
    margin-top: 1rem;
  }

  header nav .container ul {
    display: none;
  }

  #barsMain {
    display: block;
    font-size: 2rem;
    color: #047982;
  }

  #logo1 {
    width: 200px;
  }

  .menuBar {
    display: none;
  }

  .menuActive {
    display: block;
    width: 100%;
    height: 5vh;
    background: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .menuActive .container ul li a {
    color: #000000;
  }

  .modalSearch {
    top: 8.2rem;
  }

  .menuActive .container2 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .menuActive .container2 ul {
    display: block;
    display: flex;
  }
}

@media (max-width: 890px) {
  .menuActive .container2 ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .menuActive .container2 ul {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .carousel {
    width: 90%;
    height: 50vh; /* Adjust height for smaller screens */
  }

  .carousel-title {
    font-size: 2rem;
  }

  .carousel-description {
    font-size: 1rem;
  }

  .carousel-price {
    font-size: 1.2rem;
  }

  .carousel-discount {
    font-size: 1rem;
  }

  button {
    font-size: 1.5rem;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .carousel {
    width: 90%;
    height: 30vh; /* Adjust height for smaller screens */
  }

  .carousel-title {
    font-size: 1rem;
  }

  .carousel-description {
    font-size: 1rem;
  }

  .carousel-price {
    font-size: 1.2rem;
  }

  .carousel-discount {
    font-size: 1rem;
  }

  .carousel button {
    width: 40px;
  }

  .prev-btn {
    left: 0px;
    border-radius: 3px;

    background-color: #047982;
  }

  .next-btn {
    background-color: #047982;
    right: 0px;
    border-radius: 3px;
  }
}

@media (max-width: 575px) {
  .menuActive .container2 ul {
    gap: 1.5rem;
  }

  .menuActive .container2 ul li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .menuActive {
    height: auto;
  }

  .menuActive .container2 ul {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 630px) {
  #loginBtn {
    display: none;
  }

  #logo1 {
    width: 250px;
  }

  #loginLi {
    display: block;
  }

  .menuActive .container2 ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 625px) {
  header nav {
    height: 15vh;
  }

  .modalSearch {
    top: 11.5rem;
  }

  .menuActive {
    height: auto;
  }

  .menuActive .container2 ul {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 491px) {
  header nav {
    height: 15vh;
  }

  .modalSearch {
    top: 11.3rem;
  }
}
