.carusel_section {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.carousel {
    border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 50vh; /* Increase height for better visibility */
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.carousel-content {
    width: 70%;
  position: relative;
  color: white;
  z-index: 1;
  padding: 20px;
  max-width: 80%;
  background: transparent; /* Darker background for better contrast */
  border-radius: 15px;
  transform: translateY(10px);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-content:hover {
  transform: translateY(0);
  background-color: #047a8267; /* Darker background on hover */
}

.carousel-title {
  font-size: 2.5rem;
  margin: 0 0 10px 0;
  font-weight: bold;
  transition: color 0.3s ease;
}

.carousel-description {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

.carousel-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.carousel-discount {
  font-size: 1.2rem;
  color: #ff6f61; /* Bright discount color */
  font-weight: bold;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
  transition: background 0.3s ease;
}

.carousel button:hover {
  background: #047982;
}

.prev-btn {
  left: 20px;
  border-radius: 3px;

  background-color: #047982;
}

.next-btn {
  background-color: #047982;
  right: 20px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .carousel {
    width: 90%;
    height: 50vh; /* Adjust height for smaller screens */
  }

  .carousel-title {
    font-size: 2rem;
  }

  .carousel-description {
    font-size: 1rem;
  }

  .carousel-price {
    font-size: 1.2rem;
  }

  .carousel-discount {
    font-size: 1rem;
  }

  button {
    font-size: 1.5rem;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .carousel {
    width: 90%;
    height: 30vh; /* Adjust height for smaller screens */
  }

  .carousel-title {
    font-size: 1rem;
  }

  .carousel-description {
    font-size: 1rem;
  }

  .carousel-price {
    font-size: 1.2rem;
  }

  .carousel-discount {
    font-size: 1rem;
  }

  .carousel button {
    width: 40px;
  }

  .prev-btn {
    left: 0px;
    border-radius: 3px;

    background-color: #047982;
  }

  .next-btn {
    background-color: #047982;
    right: 0px;
    border-radius: 3px;
  }
}
